alabaster
anaconda-client
anaconda-navigator
anaconda-project
argh
argon2-cffi
asgiref
asn1crypto
astroid
astropy
pandas 
pandocfilters
paramiko
prompt-toolkit
psutil
py
pyupbit
regex 
requests 
rope 
Rtree==0.9.4
scikit-learn
scipy 
seaborn 
singledispatch 
six 
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy
sympy 
tblib 
threadpoolctl
toml 
toolz 
tqdm 
traitlets
ujson 
urllib3 
watchdog 
wcwidth
yapf 
zict
zipp
zope.event
zope.interface
psycopg2
